extends ../layout

block head
  link(rel="stylesheet", href="/css/VistaPaciente.css")
  link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")

block scripts
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
  script(src="/js/DataTableGlobal.js")
  script(src="/js/Internacion.js")

block content
  .contenido-paciente
    h1 Lista de admisiones pendientes

    table#TablaPaciente.datatable-estandar
      thead
        tr
          th Documento
          th Nombre
          th Apellido
          th Vía ingreso
          th Motivo
          th Fecha para internación
          th Acciones
      tbody
        each admision in admisiones
          tr
            td= admision.paciente.documento
            td= admision.paciente.nombre
            td= admision.paciente.apellido
            td= admision.tipo_ingreso
            td= admision.motivo
            td= new Date(admision.fecha_entrada).toLocaleDateString('es-AR')
            td
              button.btn-abrir-internacion(
                type="button",
                data-id=admision.id_admision,
                data-idPaciente=admision.paciente.id_paciente
              )
                span.editar-boton
                  img.icono-info(src="/img/icon-crearPaciente.png", alt="Registrar internacion")
                  |  Registrar internación

              form(method="POST", action=`/admisiones/cancelarAdmision/${admision.id_admision}`, style="display:inline")
                input(type="hidden", name="_method", value="PATCH")
                button(type="submit", class="btn-cancelar-admision")
                  span.estado-boton-rojo
                    img.icono-info(src="/img/icon-cancelar.png", alt="Cancelar admision", title="Cancelar admision")
                    |  Cancelar admisión

    include includes/modalInternacion.pug
    include includes/formInternacion.pug
    +modalInternacion()
