extends ../layout

block head
  link(rel="stylesheet", href="/css/VistaMedico.css")
  link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")

block scripts
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
  script(src="/js/DataTableGlobal.js")

block content
  .contenido-medico
    h1 Pacientes Internados
    p Seleccione un paciente para ver sus datos.

    table#TablaMedico.datatable-estandar
      thead
        tr
          th Ubicación
          th Paciente
          th DNI
          th Ingreso
          th Motivo
          th Acción
      tbody
        each item in internaciones
          tr
            td
              strong= `Hab. ${item.cama.habitacion.numero}`
              br
              span(style="font-size: 0.9em; color: #333;")= item.cama.habitacion.ala.nombre
              br
              span(style="font-size: 0.8em; color: #666;")= `Cama ${item.cama.numero}`
            
            td= item.admision.paciente.apellido + ", " + item.admision.paciente.nombre
            td= item.admision.paciente.documento
            td(data-sort=item.admision.fecha_entrada)= new Date(item.admision.fecha_entrada).toLocaleDateString('es-AR')
            td= item.admision.motivo || '-'
            td
              a(
                href=`/evaluaciones/crear/${item.admision.id_admision}`, 
                style="text-decoration: none;"
              )
                span.informacion-boton
                  img.icono-info(src="/img/icon-info.png", alt="ver")
                  | Ver Paciente